{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Admin Home{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-left">Selections</h2>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('insert') }}" class="btn btn-primary btn-block">Insert</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('select') }}" class="btn btn-primary btn-block">View</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('update') }}" class="btn btn-primary btn-block">Update</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('delete') }}" class="btn btn-primary btn-block">Delete</a>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-left">Tools</h2>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('reset') }}" class="btn btn-danger btn-block">Erase All Data</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('createTable') }}" class="btn btn-success btn-block">Create Table</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 mb-3">
                                    <a href="{{ url_for('automatic_insert_old_data') }}" class="btn btn-info btn-block">Scan for Old Data</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
