{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}select{% endblock %}

{% block page_content %}
<div class="page-header">


    <h1>
        * * * * * * * SELECT WHAT YOU WOULD LIKE TO VIEW * * * * * * * * *
    </h1>

    <h1>
        <a href="{{ url_for('selections') }}">Back</a>
    </h1>
    
    <h1>
        <a href="{{ url_for('select_tutor') }}">Tutor</a>
        <a href="{{ url_for('select_course') }}">Course</a>
        <a href="{{ url_for('select_expertise') }}">Expertise</a>
        <a href="{{ url_for('select_availability') }}">Availability</a>
        <!-- <a href="{{ url_for('select_session') }}">Session</a>     -->
    </h1>
    
</div>



{% endblock %}

